{% include 'admin_header.html' %}







<style type="text/css">
	th
	{
		background-color: black;
		color: white;
	}
	td
	{
		color: white;
	}
	h1{

		margin-top: 150px;	
	}
	tr:hover
	{
		/*opacity: 0.5;*/
/*		background-color: grey;
*/	}
	table
	{
		/*opacity: 0.9;*/
		background-color: grey;
	}
</style>


 <!-- Header -->
    <header id="header" style="background-image: url(/static/images/001cr.jpg);height: auto;background-attachment: fixed;">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <form method="post">
	<center>


<form method="post">
	<center>

	{% if data['uppol'] %}

	
		<h1 style="background-color: black;">UPDATE POLICE STATION</h1>
		<table class="table" style="width: 500px;">
			<tr>
				<th>Station name</th>
				<td><input type="text" required="" class="form-control" name="sname" value="{{ data['uppol'][0]['station_name'] }}"></td>
			</tr>
			<tr>
				<th>Place</th>
				<td><input type="text" required="" class="form-control" pattern="[a-zA-z/s]{0-50}" title="enter valid data" name="place" value="{{ data['uppol'][0]['place'] }}"></td>
			</tr>
			<tr>
				<th>District</th>
				<td><select name="dist" class="form-control">
					<option style="color: brown;">{{ data['uppol'][0]['district_name'] }}</option>
					<option value="kasargod">kasargod</option>
					<option value="kannur">kannur</option>
					<option value="kozhicode">kozhicode</option>
					<option value="wayanad">wayanad</option>
					<option value="malappuram">malappuram</option>
					<option value="trissur">trissur</option>
					<option value="palakkad">palakkad</option>
					<option value="pathanamthitta">pathanamthitta</option>
					<option value="alappuzha">alappuzha</option>
					<option value="kollam">kollam</option>
					<option value="kottayam">kottayam</option>
					<option value="thrivandrum">thrivandrum</option>
					<option value="idukki">idukki</option>
					<option value="eranakulam">eranakulam</option>
				</select></td>
			</tr>
			<tr>
				<th>Landmark</th>
				<td><input type="text" class="form-control" required="" name="lmark" value="{{ data['uppol'][0]['landmark'] }}"></td>
			</tr>
			<tr>
				<th>Pincode</th>
				<td><input type="text" class="form-control" pattern="[0-9]{6}" title="enter valid pincode" required="" name="pin" value="{{ data['uppol'][0]['pincode'] }}"></td>
			</tr>
			<tr>
				<th>Phone</th>
				<td><input type="text" class="form-control" pattern="[0-9]{10}" title="enter valid phone" required="" name="phone" value="{{ data['uppol'][0]['phone'] }}"></td>
			</tr>
			<tr>
				<th>Email</th>
				<td><input type="email" class="form-control" required="" name="email" pattern=".+@gmail\.com" value="{{ data['uppol'][0]['email'] }}"></td>
			</tr>
		
			<tr>
				<td colspan="2" align="center"><input type="submit" name="submits" value="update" class="btn btn-success"></td>
			</tr>
		</table>





		{% else %}





		<h1 style="background-color: black; color: white;">MANAGE POLICE STATION</h1>
		<table  class="table" style="width: 500px;">
			<tr>
				<th>Station name</th>
				<td><input type="text" class="form-control" required="" name="sname"></td>
			</tr>
			<tr>
				<th>Place</th>
				<td><input type="text" class="form-control" required="" name="place"></td>
			</tr>
			<tr>
				<th>District</th>
				<td><select name="dist" class="form-control">
					<option hidden="">choose</option>
					<option value="kasargod">kasargod</option>
					<option value="kannur">kannur</option>
					<option value="kozhicode">kozhicode</option>
					<option value="wayanad">wayanad</option>
					<option value="malappuram">malappuram</option>
					<option value="trissur">trissur</option>
					<option value="palakkad">palakkad</option>
					<option value="pathanamthitta">pathanamthitta</option>
					<option value="alappuzha">alappuzha</option>
					<option value="kollam">kollam</option>
					<option value="kottayam">kottayam</option>
					<option value="thrivandrum">thrivandrum</option>
					<option value="idukki">idukki</option>
					<option value="eranakulam">eranakulam</option>
				</select></td>
			</tr>
			<tr>
				<th>Landmark</th>
				<td><input type="text" class="form-control" required="" name="lmark"></td>
			</tr>
			<tr>
				<th>Pincode</th>
				<td><input type="text" pattern="[0-9]{6}" title="enter valid pincode" class="form-control" required="" name="pin"></td>
			</tr>
			<tr>
				<th>Phone</th>
				<td><input type="text" required="" pattern="[0-9]{10}" title="enter valid phone" class="form-control" name="phone"></td>
			</tr>
			<tr>
				<th>Email</th>
				<td><input type="email" required="" pattern=".+@gmail\.com" class="form-control" name="email"></td>
			</tr>
		<!-- 	<tr>
				<th>Username</th>
				<td><input type="text" required="" name="uname"></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><input type="Password" required="" name="pword"></td>
			</tr> -->
			<tr>
				<td colspan="2" align="center"><input type="submit" name="submit" value="register" class="btn btn-success"></td>
			</tr>
		</table>






		{% endif %}






		<br>
		<br>
		<h1 style="background-color: black; color: white;">VIEW POLICE STATION</h1>
		<table  class="table" width="700">
			<tr>
				<th>S.NO</th>
				<th>STATION NAME</th>
				<th>PLACE</th>
				<th>DISTRICT</th>
				<th>LANDMARK</th>
				<th>PINCODE</th>
				<th>PHONE</th>
				<th>EMAIL</th>
			</tr>

			{% for row in data['police_stations'] %}

			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ row['station_name'] }}</td>
				<td>{{ row['place'] }}</td>
				<td>{{ row['district_name'] }}</td>
				<td>{{ row['landmark'] }}</td>
				<td>{{ row['pincode'] }}</td>
				<td>{{ row['phone'] }}</td>
				<td>{{ row['email'] }}</td>
				<td><a href="?action=update&sid={{ row['station_id'] }}&did={{ row['district_id'] }}" class="btn btn-success">update</a></td>
				<td><a href="?action=delete&sid={{ row['station_id'] }}&did={{ row['district_id'] }}" class="btn btn-danger">delete</a></td>

			</tr>

			{% endfor %}

		</table>
	</center>
	
</form>

<br>
<br>
<br>






                     </div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->


{% include 'footer.html' %}