{% include 'admin_header.html' %}

 <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1>WELCOME <span id="js-rotating">ADMIN, ADMIN, ADMIN</span></h1>
                            <p class="p-heading p-large">HAVE A NICE DAY</p>
<!--                             <a class="btn-solid-lg page-scroll" href="/login">LOG IN</a>
 -->                        </div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->

{% include 'footer.html' %}