{% include 'authority_header.html' %}

{% include 'temp_header.html' %}

<center>
	<h1 style="color: white; background-color: black;">POLICE STATIONS</h1>
	<table class="table">
	<tr>
		<th>S.NO</th>
		<th>STATION NAME</th>
		<th>PLACE</th>
		<th>LANDMARK</th>
		<th>PINCODE</th>
		<th>PHONE</th>
		<th>EMAIL</th>
	</tr>

	{% for row in data['police_stations'] %}


	<tr>
		<td>{{ loop.index }}</td>
		<td>{{ row['station_name'] }}</td>
		<td>{{ row['place'] }}</td>
		<td>{{ row['landmark'] }}</td>
		<td>{{ row['pincode'] }}</td>
		<td>{{ row['phone'] }}</td>
		<td>{{ row['email'] }}</td>
	</tr>
	

	{% endfor %}
	</table>

</center>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

{% include 'temp_footer.html' %}

{% include 'footer.html' %}
