{% include 'authority_header.html' %}
{% include 'temp_header.html' %}

<center>
	<h1 style="color: white; background-color: black;">VIEW VEHICLE DETAILS</h1>
	<table class="table">
		<tr>
			<th>Sno</th>
			<th>VEHICLE NUMBER</th>
			<th>CHASIS NUMBER</th>
			<th>ENGINE NUMBER</th>
			<th>YEAR OF MANUFACTURE</th>
			<th>COMPANY</th>
			<th>MODEL</th>
		</tr>

		{% for row in data['vehicles'] %}

		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ row['vehicle_number'] }}</td>
			<td>{{ row['chasis_number'] }}</td>
			<td>{{ row['engine_number'] }}</td>
			<td>{{ row['year_of_manufacture'] }}</td>
			<td>{{ row['company'] }}</td>
			<td>{{ row['model'] }}</td>
		</tr>

		{% endfor %}
	</table>
</center>
<br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br>

{% include 'temp_footer.html' %}

{% include 'footer.html' %}