
{% include 'police_header.html' %}
{% include 'police_temp_header.html' %}

  <header id="header" style="background-image: url(/static/images/alert.jpg);height: auto;background-attachment: fixed;">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <form method="post" enctype="multipart/form-data">
                            	<style type="text/css">
                            		h1
                            		{
                            			color: white;
                            			background-color: black;
                            		}
                            	
                            	</style>

<form method="post" enctype="multipart/form-data">

<center>


	{% if data['upcri'] %}

		<h1>MANAGE CRIMINALS</h1>
	<table class="table">
		<tr>
			<th>Categories</th>
			<td><select name="cat">

				<option hidden="" readonly> choose</option>

				{% for row in data['crimes'] %}

				<option value="{{ row['category_id'] }}">{{ row['category_name'] }}</option>

				{% endfor %}
				
			</select></td>
		</tr>
		<tr>
			<th>First name</th>
			<td><input type="text" name="fname" pattern="[A-Za-z]+$" title="enter valid name" required="" class="form-control" value="{{ data['upcri'][0]['first_name'] }}"></td>
		</tr>
		<tr>
			<th>Last name</th>
			<td><input type="text" required=""  pattern="[a-zA-Z/s]{0-50}" title="enter valid name"  class="form-control" name="lname" value="{{ data['upcri'][0]['last_name'] }}"></td>
		</tr>
		<tr>
			<th>House name</th>
			<td><input type="text" required="" class="form-control" name="hname" value="{{ data['upcri'][0]['house_name'] }}"></td>
		</tr>
		<tr>
			<th>Place</th>
			<td><input type="text" required=""  pattern="[a-zA-Z ]+$" title="enter valid place name"  class="form-control" name="place" value="{{ data['upcri'][0]['place'] }}"></td>
		</tr>
		<tr>
			<th>Pincode</th>
			<td><input type="text" required=""  pattern="[0-9]{6}" title="enter valid pin code"  class="form-control" name="pin" value="{{ data['upcri'][0]['pincode'] }}"></td>
		</tr>
		<tr>
			<th>Age</th>
			<td><input type="text" required=""  pattern="[0-9]{0-100}" title="enter valid age"  class="form-control" name="age" value="{{ data['upcri'][0]['age'] }}"></td>
		</tr>
		<tr>
			<th>Gender</th>
			<td><input type="radio" required=""  name="gender" checked value="male">male
				<input type="radio" required=""  name="gender" checked value="female">female</td>
		</tr>
		<tr>
			<th>Photo</th>
			<td><input type="file" required="" class="form-control" name="photo" value="{{ data['upcri'][0]['photo'] }}"></td>
		</tr>
		<tr>
			<th>Status</th>
			<td><select name="Status" required="" class="form-control">
					<option value="hidden" hidden="">choose</option>
					<option value="missing">missing</option>
					<option value="arrested">arrested</option>
					<option value="dead">dead</option>
					<option value="notorious">Notorious</option>
			</select></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" name="submits" value="update" class="btn btn-success"></td>
		</tr>
	</table>


	{% else %}


	<h1>MANAGE CRIMINALS</h1>
	<table class="table">
		<tr>
			<th>Categories</th>
			<td><select name="cat" required="" class="form-control">

				<option hidden="" readonly>choose</option>

				{% for row in data['crimes'] %}

				<option value="{{ row['category_id'] }}">{{ row['category_name'] }}</option>

				{% endfor %}
				
			</select></td>
		</tr>
		<tr>
			<th>First name</th>
			<td><input type="text" required="" class="form-control" name="fname"></td>
		</tr>
		<tr>
			<th>Last name</th>
			<td><input type="text" required="" class="form-control" name="lname"></td>
		</tr>
		<tr>
			<th>House name</th>
			<td><input type="text" required="" class="form-control" name="hname"></td>
		</tr>
		<tr>
			<th>Place</th>
			<td><input type="text" required="" class="form-control" name="place"></td>
		</tr>
		<tr>
			<th>Pincode</th>
			<td><input type="text" required="" class="form-control" name="pin"></td>
		</tr>
		<tr>
			<th>Age</th>
			<td><input type="text" required="" class="form-control" name="age"></td>
		</tr>
		<tr>
			<th>Gender</th>
			<td><input type="radio" required=""  name="gender" checked value="male">male
				<input type="radio" required=""  name="gender" checked value="female">female</td>
		</tr>
		<tr>
			<th>Photo</th>
			<td><input type="file" required="" class="form-control" name="photo"></td>
		</tr>
		<tr>
			<th>Status</th>
			<td><select name="Status" required="" class="form-control">
					<option value="hidden" hidden="">choose</option>
					<option value="missing">missing</option>
					<option value="arrested">arrested</option>
					<option value="dead">dead</option>
					<option value="notorious">Notorious</option>
			</select></td>
		</tr>
		<tr>
			<td align="center" colspan="2"><input type="submit" class="btn btn-primary" name="submit" value="add"></td>
		</tr>
	</table>

	{% endif %}


	<br>
	<br>
	<h1>CRIMINALS</h1>
	<table class="table">
		<tr>
			<th>Sno</th>
			<th>FIRST NAME</th>
			<th>LAST NAME</th>
			<th>HOUSE NAME</th>
			<th>PLACE</th>
			<th>PINCODE</th>
			<th>AGE</th>
			<th>GENDER</th>
			<th>PHOTO</th>
			<th>STATUS</th>
		</tr>

		{% for row in data['criminals'] %}

		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ row['first_name'] }}</td>
			<td>{{ row['last_name'] }}</td>
			<td>{{ row['house_name'] }}</td>
			<td>{{ row['place'] }}</td>
			<td>{{ row['pincode'] }}</td>
			<td>{{ row['age'] }}</td>
			<td>{{ row['gender'] }}</td>
			<td><img src="/{{ row['photo'] }}" width="100" height="100"></td>
			<td>{{ row['status'] }}</td>

			{% if row['most_wanted']=='most_wanted' %}

			<td style="color: red">{{ row['most_wanted'] }}</td>

			{% else %}

			<td><a href="?action=mw&cid={{ row['criminal_id'] }}" class="btn btn-danger">most wanted</a></td>

			{% endif %}

			<td><a href="?action=update&cid={{ row['criminal_id'] }}" class="btn btn-success">update</a></td>
			<td><a href="?action=delete&cid={{ row['criminal_id'] }}" class="btn btn-warning">delete</a></td>
		</tr>

		{% endfor %}
	</table>
</center>
</form>

{% include 'temp_footer.html' %}

{% include 'footer.html' %}