
{% include 'public_header.html' %}

<style type="text/css">
	th
	{
		background-color: grey;
		color: white;
	}
	td
	{
		color: white;
	}
	h1{

		margin-top: 150px;	
	}
	tr:hover
	{
		background-color: black;
	}
</style>


    <!-- Header -->
    <header id="header" style="background-image: url(/static/images/7.jpg);height: 700px;background-attachment: fixed;">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                         
					<center>
	<center>
	<h1 style="color: white;">CRIME RECORDS</h1>
	<table class="table" width="600">
		<tr>
			<th>SNo</th>
			<th>Crime title</th>
			<th>Crime description</th>
			<th>File</th>
			<th>Date and time</th>
		</tr>

		{% for row in data['fir'] %}

		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ row['title'] }}</td>
			<td>{{ row['description'] }}</td>
			<td><img src="/{{ row['file'] }}" width="100" height="100"></td>
			<td>{{ row['date_time'] }}</td>
		</tr>

		{% endfor %}

	</table>
</center>




<!--                         </div>
 -->                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->



{% include 'footer.html' %}























