


{% include 'public_header.html' %}

<style type="text/css">
	th
	{
		background-color: grey;
		color: white;
	}
	td
	{
		color: white;
		
	}
	tr:hover{
		background-color: black;

	}
	h1{
		margin-top: 150px;	
	}
</style>


    <!-- Header -->
    <header id="header" style="background-image: url(/static/images/141.jpg); height: 700px background-attachment: fixed;">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                         
				


<center>
	<h1 style="color: white">POLICE STATIONS</h1>
	<table class="table">
	<tr>
		<th>S.NO</th>
		<th>STATION NAME</th>
		<th>PLACE</th>
		<th>LANDMARK</th>
		<th>PINCODE</th>
		<th>PHONE</th>
		<th>EMAIL</th>
	</tr>

	{% for row in data['police_stations'] %}


	<tr>
		<td>{{ loop.index }}</td>
		<td>{{ row['station_name'] }}</td>
		<td>{{ row['place'] }}</td>
		<td>{{ row['landmark'] }}</td>
		<td>{{ row['pincode'] }}</td>
		<td>{{ row['phone'] }}</td>
		<td>{{ row['email'] }}</td>
	</tr>
	

	{% endfor %}
	</table>

</center>





<!--                         </div>
 -->                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->

{% include 'footer.html' %}




