{% include 'public_header.html' %}














    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1>PEOPLES <span id="js-rotating">VOICE, VOICE, VOICE</span></h1>
                            <p class="p-heading p-large">"When the whole world is silent,even one voice becomes powerfull"</p>
                            <a class="btn-solid-lg page-scroll" href="/login">LOG IN</a>
                        </div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->



    













{% include 'footer.html' %}

